profiles {
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
    }
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    input = null
    help = false
    input_glob = null
    input_filelist = null
    sra_db = null
    output_folder = "results/"

    // Docker Containers
    scrubber__version = "2.2.1"

    // Resources
    mem_gbs = 32
    cpus = 8
}

process {
    withame: 'scrub' {
        cpus   = { params.cpus }
        memory = { params.mem_gbs.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
}
