profiles {
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
    }
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    input_glob = false
    input_filelist = false
    output_folder = false

    // Docker Containers
    container__scrubber = "quay.io/hdc-workflows/sra-human-scrubber"
    scrubber__version = "2.0.0"

    // Resources
    mem_gbs = 1
    cpus = 1
}